body {
font-family: 'Times New Roman', Times, serif;
line-height: 1.5;
letter-spacing: 1px;
font-size: 16px;
color: rgb(22, 7, 7);
/* background: linear-gradient(to top, #3b8d99, #6b6b83, #aa4b6b); */
background-size: cover;
background-position: bottom;
background-position: right;
background-repeat: no-repeat;
max-width: 90%;
margin: auto;
margin: center;
}


blockquote {
    max-width: 50%;
    margin: 80px auto;
    padding: 30px;
    font-size: 160%;
    background-color: rgba(30, 45, 87, .2);
    border-left: 3px firebrick dotted;
    font-style: italic;
}

ul {
    margin: 0 0 0 32px;
    line-height: 1.6;
    padding-right: 100px;
  }
  
  .bien {
    background-image: url(bien.png);
    background-repeat: no-repeat;
    background-position: 290px;
    background-size: contain;
    padding-right: 100px;
  }
  
  .mal {
    background-image: url(mal.png);
    background-repeat: no-repeat;
    background-position: 290px;
    background-size: contain;
    padding-right: 100px;
  }
  
  .chat {
    background-image: url(chat.png);
    background-repeat: no-repeat;
    background-position: 289px;
    background-size: contain;
    padding-right: 100px;
  }

q {
    font-style: italic;
}

.farmer{
    border-left: 3px #3b8d99 double;
}

.villager {
    border-left: 3px #ac073e double;
}

.good,.bad {
    text-transform: capitalize;
}
.bad {
    color: red;
}

.good {
    color: green;
}

figure {
    float: left;
    margin: 10px;
}

img {
    max-width: 75%;
    margin-right: 10px;
}
 figcaption {
    text-align: justify;
 }


figure img {
    vertical-align: top;
    max-width: 50%;
 }

 figure figcaption { 
    max-width: 75%;
 } 

tr:nth-child(even) {
    background-color: grey; 
}
tr:nth-child(odd) {
    background-color: white;
}

 table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(22, 7, 7);
    margin-top: 20px; /* ajout d'espace au dessus pour une meilleure apparence*/
 }

 th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid rgb(22, 7, 7);
  }

 a {
    color: blue;
 }
 a:hover {
    color: orange;
 }
 a:visited {
    color: purple;
 }

 .first-paragraph {
    font-weight: bold;
 }

 h2 {
    text-align: left;
 }

section {
    display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
 }

 .bloc-img-1 {
	flex-wrap: wrap;
	justify-content: center;
 }

 .bloc-img-2 {

 }

 .bloc-img-3 {

    flex-direction: row;
 }

 

 .chinese-dial {
    max-width: 50%;
 }